<h1>Editing Track</h1>

<%= render 'form', track: @track %>
<br>

<div class='d-grid gap-2 d-md-block'>
	<%= link_to 'Show', @track, class: "btn btn-outline-dark"%>
	<%= link_to 'Back', tracks_path, class: "btn btn-outline-secondary" %>
</div>