
<%= stylesheet_link_tag "contacts" %>

<div class="cont">
  <div class="map">
  </div>
  <div class="contact-form">
    <h1 style= "color:white;", class="title">Contact Us</h1>
    <br>
    <%= render 'contact_form' %>
  </div>
</div>